.tecidi {
  display: inline-block;
  justify-content: space-between;
  padding: 20px;
  gap: 40px;
  margin-top: 80px;
  background-color: #fff;
  max-width: max-content;
}

.linguagens {
  font-weight: bold;
  font-size: 18px;
  display: block;
  justify-content: center;
}
